In [18]:
import pandas as pd

# Assignment 1

In [19]:
df=pd.read_csv('https://raw.githubusercontent.com/AshishJangra27/Data-Science-with-Python-Course-ETG/main/COVID%20Data%20Analysis%20Assignment/country_vaccinations.csv')

In [20]:
df.head()

       country  ...                                     source_website
0  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
1  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
2  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
3  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...
4  Afghanistan  ...  https://reliefweb.int/report/afghanistan/afgha...

[5 rows x 15 columns]

In [21]:
df = df.fillna(0)

### Q1. Total number of people vaccinated in Argentina

In [22]:
int(df[df['country'] == 'Argentina']['people_vaccinated'].max())

7261176

### Q2. Total number of countries in this dataset

In [23]:
len(df['country'].unique())

195

### Q3. Maximum number of people vaccinated in a country

In [24]:
df.groupby('country')['people_vaccinated'].max().sort_values(ascending = False).head(1)

country
United States    148562891.0
Name: people_vaccinated, dtype: float64

### Q4. Top 5 Countries in terms of number of people vaccinated

In [25]:
df.groupby('country')['people_vaccinated'].max().sort_values(ascending = False).head()

country
United States     148562891.0
India             129730641.0
United Kingdom     34795074.0
Brazil             30921100.0
England            29124310.0
Name: people_vaccinated, dtype: float64